#loginForm {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e6dbfa;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color:#e6dbfa;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4C3494; /* purple */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}